.conteudo {
  width: 50%; /* 70 */
  text-align: left;
  padding: 10px;
}
.central{
  margin-left: auto;
  margin-right: auto;
}
form {
  /* Para ver as bordas do formulário */
  padding: 1em;
  border: 1px solid #dc3545;
  border-radius: 1em;
}
.carousel {
  width:640px;
  height:360px;
  margin-bottom: 100px;
}